/* Footer */
.footer {
    background-color: #02164F;
    color: #FEFEFE;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    margin-top: auto; /* Ensures footer sticks to the bottom */
  }
  