/* Host Ride Page Styles */
.host-ride-container {
    padding: 50px;
    text-align: center;
  }
  
  .ride-form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-size: 1rem;
  }
  
  .form-group input {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .cta-button.submit-button {
    background-color: #F37022;
    color: #FEFEFE;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
  }
  
  .cta-button.submit-button:hover {
    opacity: 0.9;
  }
  